* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --white: #fff;
  --primary-text-color: #dc143c;
  --nav-bg: #29323c;
  --black: #000;
}
/* header section start  */
header {
  position: fixed;
  left: 0;
  z-index: 100000;
  width: 100%;
}
/* nav section start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  text-transform: uppercase;
  background-color: var(--nav-bg);
  width: 100%;
  transition: all 0.1s linear;
}
/* logo  */
nav .logo p {
  font-size: 2.7rem;
  color: var(--white);
  font-weight: 700;
  padding: 1.8rem 0;
}
nav .logo p span {
  color: var(--primary-text-color);
}
/* logo  */
/* ul li  */
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 1.8rem 2rem;
}
nav ul li a {
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.25rem;
}
nav ul li a:hover {
  color: var(--primary-text-color);
}
/* ul li  */

/* menu  */
.menu {
  height: 5rem;
  width: 5rem;
  position: relative;
  display: none;
  z-index: 1000;
  border-radius: 50%;
  border: 3px solid var(--white);
}
.menu::after {
  content: "";
  width: 100%;
  height: 100%;
  animation: menu 1s ease forwards infinite;
  border-radius: 50%;
  border: 3px solid var(--white);
  position: absolute;
  top: -2.5px;
  left: -3px;
}
.menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  z-index: 100;
}
.menu-container .box {
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--white);
}
@keyframes menu {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
/* menu  */
/* nav section start */
/* header section end  */

/* hero section start  */
.hero {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.76) 0%,
      rgba(0, 0, 0, 0.705) 100%
    ),
    url("./img/hero-bg.png");
  background-size: cover;
  position: top center;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0 1rem;
  font-size: 4rem;
  color: var(--white);
  line-height: 1.3;
}
.hero-container h1 {
  transition: all 0.6s linear;
}

.hello,
.my-name,
.main-name {
  position: relative;
}
.hello::before,
.my-name::before,
.main-name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--primary-text-color);
  animation: text-revel 1s ease forwards;
}
.hello::before {
  animation-delay: 0.5s;
}
.my-name::before {
  animation-delay: 1.5s;
}
.main-name::before {
  animation-delay: 2.5s;
}
.hello {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.my-name {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 1.7s;
  opacity: 0;
}
.main-name {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 2.7s;
  opacity: 0;
}

@keyframes text-revel {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text-reveal-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-name {
  font-weight: 500;
  color: var(--primary-text-color);
}
.hero-container .hero-btn {
  display: inline-block;
  background: transparent;
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1.8rem 6rem;
  margin-top: 3rem;
  font-size: 2.3rem;
  border: 2px solid var(--primary-text-color);
  transition: all 0.2s linear;
}
.hero-container .hero-btn:hover {
  background-color: var(--primary-text-color);
}
/* hero section end  */
