* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --white: #fff;
  --primary-text-color: #dc143c;
  --nav-bg: #29323c;
  --black: #000;
}
/* header section start  */
header {
  position: fixed;
  left: 0;
  z-index: 100000;
  width: 100%;
}
/* nav section start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  text-transform: uppercase;
  background-color: var(--nav-bg);
  width: 100%;
  transition: all 0.1s linear;
}
/* logo  */
nav .logo p {
  font-size: 2.7rem;
  color: var(--white);
  font-weight: 700;
  padding: 1.8rem 0;
}
nav .logo p span {
  color: var(--primary-text-color);
}
/* logo  */
/* ul li  */
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 1.8rem 2rem;
}
nav ul li a {
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.25rem;
}
nav ul li a:hover {
  color: var(--primary-text-color);
}
/* ul li  */

/* menu  */
.menu {
  height: 5rem;
  width: 5rem;
  position: relative;
  display: none;
  z-index: 1000;
  border-radius: 50%;
  border: 3px solid var(--white);
}
.menu::after {
  content: "";
  width: 100%;
  height: 100%;
  animation: menu 1s ease forwards infinite;
  border-radius: 50%;
  border: 3px solid var(--white);
  position: absolute;
  top: -2.5px;
  left: -3px;
}
.menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  z-index: 100;
}
.menu-container .box {
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--white);
}
@keyframes menu {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
/* menu  */
/* nav section start */
/* header section end  */
