* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --white: #fff;
  --primary-text-color: #dc143c;
  --nav-bg: #29323c;
  --black: #000;
}
/* same-layout  */
.content-heading {
  color: var(--black);
  font-size: 5.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.content-heading span {
  color: var(--primary-text-color);
}
/* header section start  */
header {
  position: fixed;
  left: 0;
  z-index: 100000;
  width: 100%;
}
/* nav section start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  text-transform: uppercase;
  background-color: var(--nav-bg);
  width: 100%;
  transition: all 0.1s linear;
}
/* logo  */
nav .logo p {
  font-size: 2.7rem;
  color: var(--white);
  font-weight: 700;
  padding: 1.8rem 0;
}
nav .logo p span {
  color: var(--primary-text-color);
}
/* logo  */
/* ul li  */
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 1.8rem 2rem;
}
nav ul li a {
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.25rem;
}
nav ul li a:hover {
  color: var(--primary-text-color);
}
/* ul li  */

/* menu  */
.menu {
  height: 5rem;
  width: 5rem;
  position: relative;
  display: none;
  z-index: 1000;
  border-radius: 50%;
  border: 3px solid var(--white);
}
.menu::after {
  content: "";
  width: 100%;
  height: 100%;
  animation: menu 1s ease forwards infinite;
  border-radius: 50%;
  border: 3px solid var(--white);
  position: absolute;
  top: -2.5px;
  left: -3px;
}
.menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  z-index: 100;
}
.menu-container .box {
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--white);
}
@keyframes menu {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
/* menu  */
/* nav section start */
/* header section end  */

/* hero section start  */
.hero {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.76) 0%,
      rgba(0, 0, 0, 0.705) 100%
    ),
    url("./img/hero-bg.png");
  background-size: cover;
  position: top center;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0 1rem;
  font-size: 4rem;
  color: var(--white);
  line-height: 1.3;
}
.hero-container h1 {
  transition: all 0.6s linear;
}

.hello,
.my-name,
.main-name {
  position: relative;
}
.hello::before,
.my-name::before,
.main-name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--primary-text-color);
  animation: text-revel 1s ease forwards;
}
.hello::before {
  animation-delay: 0.5s;
}
.my-name::before {
  animation-delay: 1.5s;
}
.main-name::before {
  animation-delay: 2.5s;
}
.hello {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
.my-name {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 1.7s;
  opacity: 0;
}
.main-name {
  animation: text-reveal-box 3s ease forwards;
  animation-delay: 2.7s;
  opacity: 0;
}

@keyframes text-revel {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text-reveal-box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-name {
  font-weight: 500;
  color: var(--primary-text-color);
}
.hero-container .hero-btn {
  display: inline-block;
  background: transparent;
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1.8rem 6rem;
  margin-top: 3rem;
  font-size: 2.3rem;
  border: 2px solid var(--primary-text-color);
  transition: all 0.2s linear;
}
.hero-container .hero-btn:hover {
  background-color: var(--primary-text-color);
}
/* hero section end  */

/* main section start  */
/* service box start  */
.services {
  margin: 10rem 0;
  width: 100%;
}

.services .service-content {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 1.8;
  margin-top: 1rem;
  max-width: 50rem;
  margin: 0 auto;
}
/* service-cart */
.service-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 0 3rem;
  margin-top: 6rem;
}
.service-cart .cart-item {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 1rem;
  background-image:
    linear-gradient(
      60deg,
      rgba(41, 50, 60, 0.9) 0%,
      rgba(72, 85, 99, 0.9) 100%
    ),
    url("./img/img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: var(--white);
}
.cart-item-1 {
  flex-basis: 25%;
}
.cart-item-2 {
  flex-basis: 25%;
}
.cart-item-3 {
  flex-basis: 25%;
}
.cart-item-4 {
  flex-basis: 25%;
}
.service-cart .cart-item img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
}
.service-cart .cart-item h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 1rem 0 0;
}
.service-cart .cart-item p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 1rem;
}
.service-cart .cart-item p span {
  display: none;
}

/* service-cart */
/* service box end  */
/* projects box start  */
.projects {
  padding: 10rem 0;
}
.project-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
}
.project-box {
  height: 40rem;
  display: flex;
}
.project-info {
  flex-basis: 50%;
  background-image: linear-gradient(
    60deg,
    rgb(41, 50, 60) 0%,
    rgb(72, 85, 99) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: var(--white);
}
.project-info h3 {
  font-size: 4rem;
}
.project-info .sub-heading {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.project-info .project-content {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 2;
  letter-spacing: 0.1rem;
}

.project-image {
  flex-basis: 50%;
  background-position: center;
  opacity: 0.7;
  overflow: hidden;
  position: relative;
}
.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease all;
}
.project-box:hover .project-image img {
  transform: scale(1.1);
}
.project-image::after {
  background-image: linear-gradient(
    60deg,
    rgb(41, 50, 60) 0%,
    rgb(72, 85, 99) 100%
  );
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  filter: contrast(100%) brightness(100%);
  mix-blend-mode: hard-light;
}
/* projects box end */
